<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	   <div style="font-size:30px;display: block;text-align: center;color:#0DAFD6">
	   	  模板消息操作帮助
	   </div>
	   <div style="font-size：14px;color:#333333;padding:10px;display: block;text-align: left;line-height:25px;color:red">
	   	  注意事项：每次群发之前要点击清理过期群发ID，因为系统群发时为了节省时间不在群发时候进行ID过期判断了。如果测试发送模板消息时，测试用户接收不到，要清理下微擎缓存，微信token过期了。
	   </div>
	   <div style="font-size：14px;color:#333333;padding:10px;display: block;text-align: left;line-height:25px;">
	   	  首先请到微信小程序后台创建消息模板.点击模板消息、点击模板库、<br/>搜索 <b style="color:red">AT0043</b> <br />操作如图：
	   </div>
	   <img style="width:550px;height:150px;" src="{$_W['siteroot']}addons/tc_card/style/images/11.jpg"/>
	   <div style="font-size：14px;color:#333333;padding:10px;display: block;text-align: left;line-height:25px;">
	   	  点击选用，在右侧选择日程主题、日程时间、日程描述，然后点击提交。<br/>
	   	  顺序不能乱。
	   </div>
	   <img style="width:550px;height:150px;" src="{$_W['siteroot']}addons/tc_card/style/images/12.jpg"/>
	   <div style="font-size：14px;color:#333333;padding:10px;display: block;text-align: left;line-height:25px;">
	   	 点击我的模板，复制模板ID。
	   </div>
	   <img style="width:550px;height:150px;" src="{$_W['siteroot']}addons/tc_card/style/images/13.jpg"/>
	   <div style="font-size：14px;color:#333333;padding:10px;display: block;text-align: left;line-height:25px;">
	   	 返回微擎后台，创建模板消息。<br/>
	   	创建模板消息主意：发送频率50最佳不要过渡设置。<br/>
		如果选用其他模板注意，再添加关键词时，最多只能添加三个。   <br/>
	   	<br/>
	   </div>
	</body>
</html>