<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提现设置</title>
	<meta name="renderer" content="webkit">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
	<meta name="apple-mobile-web-app-status-bar-style" content="black">	
	<meta name="apple-mobile-web-app-capable" content="yes">	
	<meta name="format-detection" content="telephone=no">	
	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}addons/hr_album/style/component/layui/css/layui.css" media="all">
	<style>
.layui-form-pane .layui-form-label {
    min-width: 200px;
}
.layui-form-pane .layui-input-block {
    margin-left: 200px;
}
.demoimg,#logoimg{
	width: 38px;height: 38px; margin-left: 10px;display:none;
}
.demoimg img,#logoimg img{width: 100%; border-radius: 5px;height: 100%;}
	</style>
</head>
<body>
<form class="layui-form layui-form-pane" style="padding:20px;" action="{php echo url('site/entry/costdata', array('m' => 'hr_album','op' => 'monum'));}" method="post">
<input type="hidden" name="id" value="{$item['id']}">
  <div class="layui-form-item">
    <label class="layui-form-label">金额一：</label>
    <div class="layui-input-block">
      <input type="text" name="content[]"  lay-verify="required" value="{$num[0]}"  placeholder="请输入金额" autocomplete="off" class="layui-input">
    </div> 
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">金额二：</label>
    <div class="layui-input-block">
      <input type="text" name="content[]"  lay-verify="required"  value="{$num[1]}" placeholder="请输入金额" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">金额三：</label>
    <div class="layui-input-block">
      <input type="text" name="content[]"  lay-verify="required"  value="{$num[2]}" placeholder="请输入金额" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">金额四：</label>
    <div class="layui-input-block">
      <input type="text" name="content[]"  lay-verify="required"  value="{$num[3]}" placeholder="请输入金额" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">金额五：</label>
    <div class="layui-input-block">
      <input type="text" name="content[]"  lay-verify="required"  value="{$num[4]}" placeholder="请输入金额" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">金额六：</label>
    <div class="layui-input-block">
      <input type="text" name="content[]"  lay-verify="required"  value="{$num[5]}" placeholder="请输入金额" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">金额七：</label>
    <div class="layui-input-block">
      <input type="text" name="content[]"  lay-verify="required"  value="{$num[6]}" placeholder="请输入金额" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">金额八：</label>
    <div class="layui-input-block">
      <input type="text" name="content[]"  lay-verify="required"  value="{$num[7]}" placeholder="请输入金额" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">金额九：</label> 
    <div class="layui-input-block">
      <input type="text" name="content[]"  lay-verify="required"  value="{$num[8]}" placeholder="请输入金额" autocomplete="off" class="layui-input">
    </div>
  </div>
  
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="layui-form">立即提交</button>
      <input type="hidden" name="token" value="{$_W['token']}" />       
    </div>
  </div>
</form>
<script type="text/javascript" src="{$_W['siteroot']}addons/hr_album/style/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="{$_W['siteroot']}addons/hr_album/style/component/layui/layui.js"></script>
</body>
</html>